@use 'partials/variables' as var;

footer{
    background-color: var.$color-primary;
    border-top: .2rem solid var.$color-black;
    box-shadow: 0 0 6px 1px rgba(0, 0, 0, .4);
    font-size: 1.1rem;
    letter-spacing: 1;
    padding: 4rem;

    .copyright{
        align-items: center;
        color: var.$color-black;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        justify-content: center;
    }
}