@use 'partials/variables' as var;

header{
    background-color: var.$color-primary;
    border-bottom: .2rem solid var.$color-black;
    box-shadow: 0 1px 6px 0 rgba(0, 0, 0, .4);
    padding: 2rem;

    h1{
        color: var.$color-black;
        font-weight: 400;
        letter-spacing: 2;
        text-align: center;
    }
}