@use 'partials/variables' as var;

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root{
    scroll-behavior: smooth;
}

body{
    display: flex;
    flex-direction: column;
    min-height: 100dvh;

    header{
        background-color: black;
        padding: 2rem;

        h1{
            color: white;
            text-align: center;
        }
    }

    main{
        flex-grow: 1;

        .graphiques__container{
            list-style: none;
        }
    }

    footer{
        background-color: black;
        padding: 4rem;

        .copyright{
            align-items: center;
            color: white;
            display: flex;
            flex-direction: column;
            gap: 1rem;
            justify-content: center;
        }
    }
}
