@use 'partials/variables' as var;
@use 'header';
@use 'graphiques';
@use 'footer';

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root{
    scroll-behavior: smooth;
}

body{
    display: flex;
    flex-direction: column;
    font-family: 'helvetica';
    min-height: 100dvh;

    main{
        align-items: center;
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        justify-content: center;
        padding: 4rem 0;
    }
}